craft/templates/_default-entry/_default-entry copy.html
{% extends '_layout' %}
{% block content %}<div class="main-container">{% if entry.headingImage | length %}<header style="{% for asset in entry.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, { width: 1200, format: 'jpg' }) }}');{% endfor %}" class="uk-background-cover article-header"></header>{% endif %}
{% for block in entry.pageContent %}
{% if block.type == 'orangeBlock' %}<section class="uk-padding-large orange-grad2 white-text"><div class="max-width"><div class="uk-padding-large uk-padding-remove-left uk-padding-remove-right orange-text-bg"><div class="row"><div class="col col--3-of-4"><p class="pre-line">{{ block.label | upper }}</p><h2 class="uk-margin-medium-bottom">{{ block.heading }}</h2><!--a(href="http://").uk-text-lead.white-btn.uk-margin-medium-left Company directory (57)--><div class="col2">{{ block.columns }}</div></div></div></div></div></section>{% elseif block.type == 'whiteBlock' %}<section class="uk-padding-large white-block {% if entry == 'Education' %}education-padding{% endif %}"><div class="max-width"><div class="uk-padding-large uk-padding-remove-left uk-padding-remove-right rel"><div class="grey-text-bg-abs"></div><div class="row"><div class="col col--3-of-4"><p class="pre-line dark">{{ block.label | upper }} </p><h2>{{ block.heading }}</h2><div class="row">{% if block.columns | length %}<div class="col col--2-of-2 col2">{{ block.columns }}</div>{% elseif block.column2 | length %}<div class="col col--2-of-2">{{ block.column2 }}</div>{% endif %}
{% for row in block.bulletBlocks %}<div class="col col--1-of-4"></div><div class="col col--3-of-4"><div class="uk-margin-medium {% if loop.first %}uk-margin-medium-top{% endif %}"><p class="pre-line dark">{{ row.heading | upper }}</p><div class="bullet-block"><p>{{ row.body }}</p></div></div></div>{% endfor %}</div></div><div class="col col--1-of-4 text-right">{% for link in block.links %}<div><a href="{{ link.url }}" class="orange-btn">{{ link.title }}</a></div>{% endfor %}</div></div></div></div></section>{% elseif block.type == 'fullWidthSlider' %}<section class="uk-padding-large full-width-slider-section"><div class="max-width"><div class="fullwidth-slider uk-light"><div class="swiper-container rel"><div class="uk-light arrow-hold"><a href="#" uk-icon="icon: chevron-left; ratio:2" class="uk-position-center-left uk-position-small z-index-10 full-width-slider-prev"></a><a href="#" uk-icon="icon: chevron-right; ratio:2" class="uk-position-center-right uk-position-small z-index-10 full-width-slider-next"></a></div><div class="swiper-wrapper">{% for asset in block.assets %}<div class="swiper-slide uk-background-cover"><div data-background="{{ craft.imager.transformImage(asset, { format: 'jpg', width: 1300 }) }}" class="aspect-16-9 uk-background-cover swiper-lazy"><div class="swiper-lazy-preloader"></div></div></div>{% endfor %}</div>{% set grabBg = 'white' %}<div class="swiper-scrollbar grabbg-{{ grabBg }}"></div></div></div></div></section>{% elseif block.type == 'headerImageBlock' %}
{% include '_includes/_header-image-block.html' %}
{% elseif block.type == 'videoBlock' %}
{% include '_includes/_video-block.html' %}
{% elseif block.type == 'videoBlockFull' %}
{% include '_includes/_video-block-full.html' %}
{% elseif block.type == 'twoImage' %}
{% include '_includes/_two-image.html' %}
{% elseif block.type == 'fourImage' %}
{% include '_includes/_four-image.html' %}
{% elseif block.type == 'imageSlider' %}
{% include '_includes/_image-slider.html' %}
{% elseif block.type == 'fullWidthImage' %}
{% include '_includes/_full-width-image.html' %}
{% elseif block.type == 'paragraphBlock' %}<section class="uk-padding-large white-block download-block {% if block.paddingTop %}pad-top-pargraph{% endif %}"><div class="max-width"> <div class="uk-padding-small uk-padding-remove-left uk-padding-remove-right"><div class="row {% if block.removePaddingBottom %}uk-padding-large uk-padding-remove-top {% endif %}">{% if block.heading | length %}<div class="col col--2-of-2 uk-text-left"><h2 class="uk-text-lead">{{block.heading}}</h2></div>{% endif %}
{% if block.paragraph | length %}<div class="col col--2-of-2 uk-text-left">{{ block.paragraph }}</div>{% endif %}
{% if block.download | length %}<div class="col col--2-of-2 uk-text-center">{% for asset in block.download %}<a href="{{ asset.url }}"><button class="download-btn">{% if block.buttonText | length %}{{ block.buttonText }}{% else %} Download {% endif %}</button></a>{% endfor %}
{% elseif block.buttonUrl | length %}<a href="{{ block.buttonUrl }}" target="_blank"><button class="download-btn">{% if block.buttonText | length %}{{ block.buttonText }}{% else %} Click here {% endif %}</button></a></div>{% endif %}</div></div></div></section>{% endif %}
{% endfor %}</div>{% endblock %}

craft/templates/_default-entry/_default-entry copy.jade
{% extends '_layout' %}
{% block content %}
.main-container
  {% if entry.headingImage | length %}
  header(style="{% for asset in entry.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, { width: 1200, format: 'jpg' }) }}');{% endfor %}").uk-background-cover.article-header
  {% endif %}
  {% for block in entry.pageContent %}
  {% if block.type == 'orangeBlock' %}
  section.uk-padding-large.orange-grad2.white-text
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right.orange-text-bg
        .row
          .col.col--3-of-4
            p.pre-line {{ block.label | upper }}
            h2.uk-margin-medium-bottom {{ block.heading }}
            //a(href="http://").uk-text-lead.white-btn.uk-margin-medium-left Company directory (57)
            .col2
              {{ block.columns }}
  {% elseif block.type == 'whiteBlock' %}
  section.uk-padding-large.white-block(class="{% if entry == 'Education' %}education-padding{% endif %}")
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right.rel
        .grey-text-bg-abs
        .row
          .col.col--3-of-4
            p.pre-line.dark {{ block.label | upper }} 
            h2 {{ block.heading }}
            .row
              {% if block.columns | length %}
              .col.col--2-of-2.col2
                {{ block.columns }}
              {% elseif block.column2 | length %}
              .col.col--2-of-2
                {{ block.column2 }}
              {% endif %}
              {% for row in block.bulletBlocks %}
              .col.col--1-of-4
              .col.col--3-of-4
                .uk-margin-medium(class="{% if loop.first %}uk-margin-medium-top{% endif %}")
                  p.pre-line.dark {{ row.heading | upper }}
                  .bullet-block
                      p {{ row.body }}
              {% endfor %}
          .col.col--1-of-4.text-right
            {% for link in block.links %}
            div
              a(href="{{ link.url }}").orange-btn {{ link.title }}
            {% endfor %}
  {% elseif block.type == 'fullWidthSlider' %}
  section.uk-padding-large.full-width-slider-section
    .max-width
      .fullwidth-slider.uk-light
        .swiper-container.rel
          .uk-light.arrow-hold
            a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.full-width-slider-prev
            a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.full-width-slider-next
          .swiper-wrapper
            {% for asset in block.assets %}
            .swiper-slide.uk-background-cover
              .aspect-16-9.uk-background-cover.swiper-lazy(data-background="{{ craft.imager.transformImage(asset, { format: 'jpg', width: 1300 }) }}")
                .swiper-lazy-preloader
            {% endfor %}
          {% set grabBg = 'white' %}
          .swiper-scrollbar(class="grabbg-{{ grabBg }}")
  {% elseif block.type == 'headerImageBlock' %}
  | {% include '_includes/_header-image-block.html' %}
  {% elseif block.type == 'videoBlock' %}
  | {% include '_includes/_video-block.html' %}
  {% elseif block.type == 'videoBlockFull' %}
  | {% include '_includes/_video-block-full.html' %}
  {% elseif block.type == 'twoImage' %}
  | {% include '_includes/_two-image.html' %}
  {% elseif block.type == 'fourImage' %}
  | {% include '_includes/_four-image.html' %}
  {% elseif block.type == 'imageSlider' %}
  | {% include '_includes/_image-slider.html' %}
  {% elseif block.type == 'fullWidthImage' %}
  | {% include '_includes/_full-width-image.html' %}
  {% elseif block.type == 'paragraphBlock' %}
  section.uk-padding-large.white-block.download-block(class="{% if block.paddingTop %}pad-top-pargraph{% endif %}")
    .max-width  
      .uk-padding-small.uk-padding-remove-left.uk-padding-remove-right
        .row(class="{% if block.removePaddingBottom %}uk-padding-large uk-padding-remove-top {% endif %}")
          | {% if block.heading | length %}
          .col.col--2-of-2.uk-text-left
            h2.uk-text-lead {{block.heading}}
          | {% endif %}
          | {% if block.paragraph | length %}
          .col.col--2-of-2.uk-text-left
            {{ block.paragraph }}
          | {% endif %}
          | {% if block.download | length %}
          .col.col--2-of-2.uk-text-center
            {% for asset in block.download %}
            a(href="{{ asset.url }}")
              button.download-btn {% if block.buttonText | length %}{{ block.buttonText }}{% else %} Download {% endif %}
            {% endfor %}
            {% elseif block.buttonUrl | length %}
            a(href="{{ block.buttonUrl }}" target="_blank")
              button.download-btn {% if block.buttonText | length %}{{ block.buttonText }}{% else %} Click here {% endif %}
          {% endif %}
  {% endif %}
  {% endfor %}
{% endblock %}
