craft/templates/_includes/_image-slider.jade
section.uk-padding-large.video-block.image-slider(class="{% if entry == 'Education' %}uk-education-large{% endif %}")
   .max-width
        .row(style="text-align: center;")
            .col.col--3-of-4
                .swiper-outer(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700")
                        .swiper-container2
                            .swiper-wrapper
                                | {% for asset in block.image %}
                                .swiper-slide
                                    .swiper-inner(style="background-image: url('{{asset.url}}')")
                                | {% endfor %}
                            .swiper-pagination
                            .swiper-button-prev
                            .swiper-button-next

craft/templates/_includes/_image-slider.html
<section class="uk-padding-large video-block image-slider {% if entry == 'Education' %}uk-education-large{% endif %}"><div class="max-width"><div style="text-align: center;" class="row"><div class="col col--3-of-4"><div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700" class="swiper-outer"><div class="swiper-container2"><div class="swiper-wrapper">{% for asset in block.image %}<div class="swiper-slide"><div style="background-image: url('{{asset.url}}')" class="swiper-inner"></div></div>{% endfor %}</div><div class="swiper-pagination"></div><div class="swiper-button-prev"></div><div class="swiper-button-next"></div></div></div></div></div></div></section>
