craft/templates/_includes/_mobile-nav.html
<div id="mobile-nav"><div class="uk-padding"><div class="uk-panel"><ul class="uk-nav uk-nav-default"><li class="uk-nav-header">MENU</li><li><a href="{{ siteUrl }}">Home</a></li><li><a href="{{ siteUrl }}about">About</a></li><li><a href="{{ siteUrl }}projects">Projects</a></li><li><a href="{{ siteUrl }}members">Members</a></li><li><a href="{{ siteUrl }}companies">Companies</a></li><li><a href="{{ siteUrl }}zero-carbon">Zero Carbon</a></li><li><a href="{{ siteUrl }}events">Events</a></li><li><a href="{{ siteUrl }}news">News</a></li><li><a href="{{ siteUrl }}contact">Contact</a></li><li class="uk-nav-header uk-margin-top">ACCOUNT</li>{% if currentUser %}<li><a href="{{ logoutUrl }}">Logout, {{ currentUser.name }}</a></li>{% else %}<li><a href="{{ siteUrl }}user">Login</a></li>{% endif %}</ul></div></div></div>

craft/templates/_includes/_mobile-nav.jade
#mobile-nav
  //- <button class="uk-offcanvas-close" type="button" @click="openMobileNav($event)" uk-close></button>
  .uk-padding
    .uk-panel
      ul.uk-nav.uk-nav-default
        li.uk-nav-header MENU
        li
          a(href="{{ siteUrl }}") Home
        li
          a(href="{{ siteUrl }}about") About
        li
          a(href="{{ siteUrl }}projects") Projects
        li
          a(href="{{ siteUrl }}members") Members
        li
          a(href="{{ siteUrl }}companies") Companies
        li
          a(href="{{ siteUrl }}zero-carbon") Zero Carbon
        li
          a(href="{{ siteUrl }}events") Events
        li
          a(href="{{ siteUrl }}news") News
        li
          a(href="{{ siteUrl }}contact") Contact
        li.uk-nav-header.uk-margin-top ACCOUNT
        {% if currentUser %}
        li
          a(href="{{ logoutUrl }}") Logout, {{ currentUser.name }}
        {% else %}
        li
          a(href="{{ siteUrl }}user") Login
        {% endif %}
