craft/templates/_includes/_multi-block-swiper-popular.html
<div class="uk-margin-bottom uk-clearfix mbs-wrap"><span class="uk-text-lead uk-link-reset orange-link">Most popular work / </span><script>window.popularWork = {
  {% for cat in craft.categories.group('propertyCategory') %}
  {{ cat.id }} : false,
  {% endfor %}
};</script>{% for cat in craft.categories.group('propertyCategory') %}<a href="#/" @click="popularWork[{{ cat.id }}] = !popularWork[{{ cat.id }}]" v-bind:class="{ 'selected' : popularWork[{{ cat.id }}] }" class="uk-link-reset orange-link">{{ cat.title }} ({{ craft.entries.section('projects').relatedTo(cat).total() }}), </a>{% endfor %}<a href="#/" @click="{% for cat in craft.categories.group('propertyCategory') %}popularWork[{{ cat.id }}] = false; {% endfor %}" v-bind:class="{ 'selected' : {% for cat in craft.categories.group('propertyCategory') %}!popularWork[{{ cat.id }}] {{ not loop.last ? '&amp;&amp;' : '' }}{% endfor %} }" class="uk-link-reset orange-link uk-float-right">All ({{ craft.entries.section('projects').total() }})</a></div>{% if grabBg is not defined %}
{% set grabBg = 'white' %}
{% endif %}<div class="multi-block-swiper"><div class="swiper-container"><a href="#" uk-icon="icon: chevron-left; ratio:2" class="uk-position-center-left uk-position-small z-index-10 slide-prev"></a><a href="#" uk-icon="icon: chevron-right; ratio:2" class="uk-position-center-right uk-position-small z-index-10 slide-next"></a><div class="swiper-wrapper">{% set projects =  craft.entryCount.sortPopular( craft.entries.section('projects') ) %}
{% if projects is not defined %}
{% set projects = craft.entries.section('projects').order('postDate asc') %}
{% endif %}
{% for project in projects %}<transition name="fade" mode="out-in"><div v-if="({% for cat in project.propertyCategories %}popularWork[{{ cat.id }}] {{ not loop.last ? '||' : '' }}{% endfor %}) || ({% for cat in craft.categories.group('propertyCategory') %}!popularWork[{{ cat.id }}] {{ not loop.last ? '&amp;&amp;' : '' }}{% endfor %})" class="swiper-slide white-text"><a href="{{ project.url }}" class="square-image-btn uk-background-cover"><div data-background="{% for asset in project.headingImage.limit(1) %}{{ craft.imager.transformImage(asset, {width: 300, height: 300, format: 'jpg'}) }}{% endfor %}" style="{% for asset in project.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, {width: 12, blur: 30, format: 'jpg'}) }}'){% endfor %}" class="swiper-lazy"></div><div class="inner"><div class="uk-padding"><p class="pre-line uk-margin-remove">Architect</p><p class="uk-margin-remove-top">{{ project.author.fullName }}</p><p class="pre-line uk-margin-remove">Project name</p><p class="uk-margin-remove-top">{{ project.title }}</p><p class="pre-line uk-margin-remove">Company</p><p class="uk-margin-remove-top">{{ project.company }}</p><p class="pre-line uk-margin-remove">Location</p><p class="uk-margin-remove-top">{{ project.location }}</p></div></div></a></div></transition>{% endfor %}</div><div class="swiper-scrollbar grabbg-{{ grabBg }}"></div></div></div>

craft/templates/_includes/_multi-block-swiper-popular.jade
.uk-margin-bottom.uk-clearfix.mbs-wrap
  span.uk-text-lead.uk-link-reset.orange-link Most popular work / 
  script.
    window.popularWork = {
      {% for cat in craft.categories.group('propertyCategory') %}
      {{ cat.id }} : false,
      {% endfor %}
    };
  {% for cat in craft.categories.group('propertyCategory') %}
  a(href="#/" @click="popularWork[{{ cat.id }}] = !popularWork[{{ cat.id }}]" v-bind:class="{ 'selected' : popularWork[{{ cat.id }}] }").uk-link-reset.orange-link {{ cat.title }} ({{ craft.entries.section('projects').relatedTo(cat).total() }}), 
  {% endfor %}
  a(href="#/" @click="{% for cat in craft.categories.group('propertyCategory') %}popularWork[{{ cat.id }}] = false; {% endfor %}" v-bind:class="{ 'selected' : {% for cat in craft.categories.group('propertyCategory') %}!popularWork[{{ cat.id }}] {{ not loop.last ? '&&' : '' }}{% endfor %} }").uk-link-reset.orange-link.uk-float-right All ({{ craft.entries.section('projects').total() }})

{% if grabBg is not defined %}
{% set grabBg = 'white' %}
{% endif %}
.multi-block-swiper
  .swiper-container
    a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.slide-prev
    a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.slide-next

    .swiper-wrapper
      {% set projects =  craft.entryCount.sortPopular( craft.entries.section('projects') ) %}
      {% if projects is not defined %}
      {% set projects = craft.entries.section('projects').order('postDate asc') %}
      {% endif %}
      {% for project in projects %}
      transition(name="fade" mode="out-in")
        .swiper-slide.white-text(v-if="({% for cat in project.propertyCategories %}popularWork[{{ cat.id }}] {{ not loop.last ? '||' : '' }}{% endfor %}) || ({% for cat in craft.categories.group('propertyCategory') %}!popularWork[{{ cat.id }}] {{ not loop.last ? '&&' : '' }}{% endfor %})")
          a(href="{{ project.url }}").square-image-btn.uk-background-cover
            .swiper-lazy(
              data-background="{% for asset in project.headingImage.limit(1) %}{{ craft.imager.transformImage(asset, {width: 300, height: 300, format: 'jpg'}) }}{% endfor %}"
              style="{% for asset in project.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, {width: 12, blur: 30, format: 'jpg'}) }}'){% endfor %}"
            )
            .inner
              .uk-padding
                p.pre-line.uk-margin-remove Architect
                p.uk-margin-remove-top {{ project.author.fullName }}
                p.pre-line.uk-margin-remove Project name
                p.uk-margin-remove-top {{ project.title }}
                p.pre-line.uk-margin-remove Company
                p.uk-margin-remove-top {{ project.company }}
                p.pre-line.uk-margin-remove Location
                p.uk-margin-remove-top {{ project.location }}
      {% endfor %}
    .swiper-scrollbar(class="grabbg-{{ grabBg }}")
