craft/templates/_includes/_multi-block-swiper.html
{% if grabBg is not defined %}
{% set grabBg = 'white' %}
{% endif %}<div class="multi-block-swiper"><div class="swiper-container"><a href="#" uk-icon="icon: chevron-left; ratio:2" class="uk-position-center-left uk-position-small z-index-10 slide-prev"></a><a href="#" uk-icon="icon: chevron-right; ratio:2" class="uk-position-center-right uk-position-small z-index-10 slide-next"></a><div class="swiper-wrapper">{% if projects is not defined %}
{% set projects = craft.entries.section('projects').order('postDate asc') %}
{% endif %}
{% for project in projects %}<div class="swiper-slide white-text"><a href="{{ project.url }}" class="square-image-btn uk-background-cover"><div data-background="{% for asset in project.headingImage.limit(1) %}{{ craft.imager.transformImage(asset, {width: 300, height: 300, format: 'jpg'}) }}{% endfor %}" style="{% for asset in project.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, {width: 12, blur: 30, format: 'jpg'}) }}'){% endfor %}" class="swiper-lazy"></div><div class="inner"><div class="uk-padding"><p class="pre-line uk-margin-remove">Project name</p><p class="uk-margin-remove-top">{{ project.title }}</p><p class="pre-line uk-margin-remove">Architect</p><p class="uk-margin-remove-top">{{ project.author.fullName }}</p><p class="pre-line uk-margin-remove">Location</p><p class="uk-margin-remove-top">{{ project.location }}</p></div></div></a></div>{% endfor %}</div><div class="swiper-scrollbar grabbg-{{ grabBg }}"></div></div></div>

craft/templates/_includes/_multi-block-swiper.jade
{% if grabBg is not defined %}
{% set grabBg = 'white' %}
{% endif %}
.multi-block-swiper
  .swiper-container
    a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.slide-prev
    a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.slide-next

    .swiper-wrapper
      {% if projects is not defined %}
      {% set projects = craft.entries.section('projects').order('postDate asc') %}
      {% endif %}
      {% for project in projects %}
      .swiper-slide.white-text
        a(href="{{ project.url }}").square-image-btn.uk-background-cover
          .swiper-lazy(
            data-background="{% for asset in project.headingImage.limit(1) %}{{ craft.imager.transformImage(asset, {width: 300, height: 300, format: 'jpg'}) }}{% endfor %}"
            style="{% for asset in project.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, {width: 12, blur: 30, format: 'jpg'}) }}'){% endfor %}"
          )
          .inner
            .uk-padding
              p.pre-line.uk-margin-remove Project name
              p.uk-margin-remove-top {{ project.title }}
              p.pre-line.uk-margin-remove Architect
              p.uk-margin-remove-top {{ project.author.fullName }}
              p.pre-line.uk-margin-remove Location
              p.uk-margin-remove-top {{ project.location }}
      {% endfor %}
    .swiper-scrollbar(class="grabbg-{{ grabBg }}")
