craft/templates/_includes/_nav.jade
nav.main-fixed-nav(v-bind:class="{ 'open-mobile-menu' : mobileNavOpen }")
  .uk-padding-small.smaller.tiny-top-bottom.white-bar-bg
    .row
      .col.col--1-of-3.col--m-1-of-3.vm.col--s-1-of-2
        {% if currentUser %}
        a(href="{{ siteUrl }}user" uk-tooltip title="My Account").uk-link-reset Hello, {{ currentUser }} <span uk-icon="icon: user"></span>
        div(uk-dropdown)
          ul.uk-nav.uk-dropdown-nav
            li
              a(href="{{ siteUrl }}user") My Account
            li
              a(href="{{ siteUrl }}portal") Portal
            li.uk-nav-divider
            li
              a(href="{{ logoutUrl }}") Logout
        {% else %}
        a(href="{{ siteUrl }}user").uk-link-reset LOGIN/REGISTER <span uk-icon="icon: sign-in"></span>
        {% endif %}
      .col.col--1-of-3.text-center.col--m-1-of-3.vm
        a(href="{{ siteUrl }}contact").uk-link-reset CONTACT
      .col.col--1-of-3.text-right.col--m-1-of-3.vm.col--s-1-of-2
        a(href="" @click="searchClick($event)").uk-link-reset.uk-navbar-toggle SEARCH <span uk-icon="icon: search"></span>
        div(uk-dropdown="mode: click")
          .uk-grid-small.uk-flex-middle(uk-grid)
            .uk-width-expand
              form(action="{{ siteUrl }}search" id="searchForm").uk-search.uk-search-navbar.uk-width-1-1
                input.uk-search-input(type='search' placeholder='Search...' name="q" autofocus id="searchField")
            .uk-width-auto
              a.uk-navbar-dropdown-close(href='#', uk-close)
  .orange-grad.main-nav-container.text-right
    a(href="{{ siteUrl }}").nav-logo
      img(src="{{ siteUrl }}res/img/logo.png", alt="AJA")
    ul.white-nav
      li
        a(href="{{ siteUrl }}about") about
      li
        a(href="{{ siteUrl }}projects") projects
      li
        a(href="{{ siteUrl }}members") members
      li
        a(href="{{ siteUrl }}education") education
      li
        a(href="{{ siteUrl }}zero-carbon") Zero Carbon
      //- li
      //-   a(href="{{ siteUrl }}events") events
      li
        a(href="{{ siteUrl }}news") news &amp; events
      //li
        a(href="{{ siteUrl }}contact") contact
    .hamburger
      a(href="" @click="openMobileNav($event)").uk-link-reset Menu <span uk-icon="icon: grid"></span>
    a(href="{{ siteUrl }}projects/upload").uk-button.uk-button-secondary.uk-button-large.full-height.inb.sub-work-button SUBMIT WORK
//<img class="key-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAYAAADwdn+XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK9JREFUeNpiZCABWFlZOQApAyA+cOzYsQsgMUYiNYI0zQfihUAM0hgPxApAHMhCpOUgzYkwW0EuABqaAKQLGKHOcsCjmR9EADUXYnHZfhagxAGoifuB9EEQG4jrgeKOSP7GaQETGv8DFCMDkLPtsdgOCoMPzDABWVlZRqCtMx4/fvwCyP4IpG+AxIH0DyBfEYjjgfggiA8N1OlAXMlIQhQGQENfAIgfAPFEUKACBBgA6DZBXH1wMgwAAAAASUVORK5CYII=">

craft/templates/_includes/_nav.html
<nav v-bind:class="{ 'open-mobile-menu' : mobileNavOpen }" class="main-fixed-nav"><div class="uk-padding-small smaller tiny-top-bottom white-bar-bg"><div class="row"><div class="col col--1-of-3 col--m-1-of-3 vm col--s-1-of-2">{% if currentUser %}<a href="{{ siteUrl }}user" uk-tooltip="uk-tooltip" title="My Account" class="uk-link-reset">Hello, {{ currentUser }} <span uk-icon="icon: user"></span></a><div uk-dropdown="uk-dropdown"><ul class="uk-nav uk-dropdown-nav"><li><a href="{{ siteUrl }}user">My Account</a></li><li><a href="{{ siteUrl }}portal">Portal</a></li><li class="uk-nav-divider"></li><li><a href="{{ logoutUrl }}">Logout</a></li></ul></div>{% else %}<a href="{{ siteUrl }}user" class="uk-link-reset">LOGIN/REGISTER <span uk-icon="icon: sign-in"></span></a>{% endif %}</div><div class="col col--1-of-3 text-center col--m-1-of-3 vm"><a href="{{ siteUrl }}contact" class="uk-link-reset">CONTACT</a></div><div class="col col--1-of-3 text-right col--m-1-of-3 vm col--s-1-of-2"><a href="" @click="searchClick($event)" class="uk-link-reset uk-navbar-toggle">SEARCH <span uk-icon="icon: search"></span></a><div uk-dropdown="mode: click"><div uk-grid="uk-grid" class="uk-grid-small uk-flex-middle"><div class="uk-width-expand"><form action="{{ siteUrl }}search" id="searchForm" class="uk-search uk-search-navbar uk-width-1-1"><input type="search" placeholder="Search..." name="q" autofocus="autofocus" id="searchField" class="uk-search-input"/></form></div><div class="uk-width-auto"><a href="#" uk-close="uk-close" class="uk-navbar-dropdown-close"></a></div></div></div></div></div></div><div class="orange-grad main-nav-container text-right"><a href="{{ siteUrl }}" class="nav-logo"><img src="{{ siteUrl }}res/img/logo.png" alt="AJA"/></a><ul class="white-nav"><li><a href="{{ siteUrl }}about">about</a></li><li><a href="{{ siteUrl }}projects">projects</a></li><li><a href="{{ siteUrl }}members">members</a></li><li><a href="{{ siteUrl }}education">education</a></li><li><a href="{{ siteUrl }}zero-carbon">Zero Carbon</a></li><li><a href="{{ siteUrl }}news">news &amp; events</a></li><!--lia(href="{{ siteUrl }}contact") contact--></ul><div class="hamburger"><a href="" @click="openMobileNav($event)" class="uk-link-reset">Menu <span uk-icon="icon: grid"></span></a></div><a href="{{ siteUrl }}projects/upload" class="uk-button uk-button-secondary uk-button-large full-height inb sub-work-button">SUBMIT WORK</a></div></nav><!--<img class="key-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAYAAADwdn+XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK9JREFUeNpiZCABWFlZOQApAyA+cOzYsQsgMUYiNYI0zQfihUAM0hgPxApAHMhCpOUgzYkwW0EuABqaAKQLGKHOcsCjmR9EADUXYnHZfhagxAGoifuB9EEQG4jrgeKOSP7GaQETGv8DFCMDkLPtsdgOCoMPzDABWVlZRqCtMx4/fvwCyP4IpG+AxIH0DyBfEYjjgfggiA8N1OlAXMlIQhQGQENfAIgfAPFEUKACBBgA6DZBXH1wMgwAAAAASUVORK5CYII=">-->
