craft/templates/_includes/_user-form.jade
{% if currentUser %}
{% set isEdit = true %}
{% else %}
{% set isEdit = false %}
{% endif %}
{% if isEdit %}
{% set account = currentUser %}
{% endif %}
{% macro errorList(errors) %}
{% if errors %}
ul.uk-list
  {% for error in errors %}
  li.uk-text-danger {{ error }}
  {% endfor %}
{% endif %}
{% endmacro %}
{% from _self import errorList %}
{% macro textField(handle, placeholder, account) %}
.uk-margin
  .uk-inline.full-width
    <input class="uk-input uk-form-large" id="{{ handle }}" type="text" placeholder="{{ placeholder }}" name="fields[{{ handle }}]" {%- if account %} value="{{ account[handle] }}"{% endif -%}>
{% endmacro %}
{% from _self import textField %}
{% if isEdit %}
legend.uk-legend Update your profile
{% else %}
legend.uk-legend Register new user
{% endif %}


p.uk-text-meta Fields marked with a <span class="uk-text-danger">*</span> are required.

{% if not isEdit %}
.uk-margin
  <label class="uk-form-label " for="username">Username: <span class="uk-text-danger">*</span></label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
      <input class="uk-input uk-form-large" id="username" placeholder="" v-model="registerForm.username" type="text" name="username" {%- if account is defined %} value="{{ account.username }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors('username')) }}
{% endif %}


.uk-margin
  <label class="uk-form-label " for="email">Email: <span class="uk-text-danger">*</span></label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
      
      <input class="uk-input uk-form-large" id="email" type="text" placeholder="user@example.com" name="email" {%- if account is defined %} value="{{ account.email }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors('email')) }}
{% endif %}
{% endif %}

{% set fhandle = 'firstName' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">Photo: </label>
  .uk-form-controls
    .uk-inline.full-width
      div(v-if="profileImages.length == 0")
        input(type="hidden" name="fields[profilePhoto]" value="")
      div(v-for="(value, index) in profileImages")
        input(type="hidden" v-bind:name="'fields[profilePhoto][' + index + ']'" v-model="value.craftId")
      #profile-upload
      {% if account is defined and account.profilePhoto | length %}
      script.
        window['profileImages'] = [{
        'name' : '{{ account.profilePhoto[0].title }}',
        'uuid' : '{{ account.profilePhoto[0].id }}',
        'thumbnailUrl' : '{{ account.profilePhoto[0].url("profile") }}'
        }];
      {% endif %}
//////Field block
{% set fhandle = 'firstName' %}
{% set fplaceholder = 'First Name' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: <span class="uk-text-danger">*</span></label>
  .uk-form-controls
    .uk-inline.full-width
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="John" name="firstName" {%- if account is defined %} value="{{ account.firstName }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end

//////Field block
{% set fhandle = 'lastName' %}
{% set fplaceholder = 'Last Name' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: <span class="uk-text-danger">*</span></label>
  .uk-form-controls
    .uk-inline.full-width
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="Smith" name="lastName" {%- if account is defined %} value="{{ account.lastName }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end


//////Field block
{% set fhandle = 'qualifications' %}
{% set fplaceholder = 'Qualifications' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}:</label>
  .uk-form-controls
    .uk-inline.full-width
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="BA (Hons)" name="fields[qualifications]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end

//////Field block
{% set fhandle = 'ajaMembershipNo' %}
{% set fplaceholder = 'AJA Membership No' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end

//////Field block
{% set fhandle = 'arbMembershipNo' %}
{% set fplaceholder = 'ARB Membership No' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end


//////Field block
{% set fhandle = 'ribaMembershipNo' %}
{% set fplaceholder = 'RIBA Membership No' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end


//////Field block
{% set fhandle = 'companyWebsite' %}
{% set fplaceholder = 'Company Website' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: link"></span>
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="https://www.example.com" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end

//////Field block
{% set fhandle = 'phoneNumber' %}
{% set fplaceholder = 'Phone Number' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: receiver"></span>
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="+44 1534 123456" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end


//////TEXTAREA block
{% set fhandle = 'personalProfile' %}
{% set fplaceholder = 'Personal Profile' %}
{% if account is defined %}
{% set pp = account.personalProfile | replace({ '"' : '' }) | replace({ "'" : '' }) %}
script.
  window.personalProfile = "{{ pp|replace({'\n':' ', '\r':' '}) | raw }}";
{% endif %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      span.uk-text-meta(v-if="personalProfile.length") Characters ${ personalProfile.length } / 1100
      <textarea class="uk-textarea uk-form-large" maxlength="1100" v-model="personalProfile" name="fields[{{ fhandle }}]" rows="5" placeholder="(max 1100 characters)" value="{{ account.personalProfile }}"></textarea>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end


//////Field block
{% set fhandle = 'facebookLink' %}
{% set fplaceholder = 'Facebook Link' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" style="color: #4167B2" uk-icon="icon: facebook"></span>
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end

//////Field block
{% set fhandle = 'instagramLink' %}
{% set fplaceholder = 'Instagram Link' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" style="color: #C74C4D" uk-icon="icon: instagram"></span>
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end

//////Field block
{% set fhandle = 'linkedinLink' %}
{% set fplaceholder = 'LinkedIn Link' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" style="color: #0277B5" uk-icon="icon: linkedin"></span>
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end

//////Field block
{% set fhandle = 'pinterestLink' %}
{% set fplaceholder = 'Pinterest Link' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" style="color: #BD071B" uk-icon="icon: pinterest"></span>
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end

//////Field block
{% set fhandle = 'twitterLink' %}
{% set fplaceholder = 'Twitter Link' %}
.uk-margin
  <label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" style="color: #1DA1F2" uk-icon="icon: twitter"></span>
      <input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}>
{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}
//////end

{% if not isEdit %}
//password section
.uk-margin
  <label class="uk-form-label " for="password1">Password: </label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input class="uk-input uk-form-large" id="password1" placeholder="•••••••" v-model="pass1" type="password" name="password" {%- if account is defined %} value="{{ account.password }}"{% endif -%}>
.uk-margin
  <label class="uk-form-label " for="password2">Confirm password: </label>
  .uk-form-controls
    .uk-inline.full-width
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input class="uk-input uk-form-large" id="password2" placeholder="•••••••" v-model="pass2" type="password" {%- if account is defined %} value="{{ account.password }}"{% endif -%}>
p.uk-text-danger(v-if="pass1 != pass2 && pass1.length > 0 && pass2.length > 0") Passwords do not match
{% if account is defined %}
{{ errorList(account.getErrors('password')) }}
{% endif %}
.uk-margin-top.uk-clearfix
  input(type="submit" value="Register" v-bind:disabled="pass1 != pass2 || pass1.length == 0 || pass2.length == 0").uk-button.uk-button-secondary.uk-button-large.uk-float-right
{% else %}

.uk-margin-top.uk-clearfix
  input(type="submit" value="Update").uk-button.uk-button-secondary.uk-button-large.uk-float-right
{% endif %}

craft/templates/_includes/_user-form.html
{% if currentUser %}
{% set isEdit = true %}
{% else %}
{% set isEdit = false %}
{% endif %}
{% if isEdit %}
{% set account = currentUser %}
{% endif %}
{% macro errorList(errors) %}
{% if errors %}<ul class="uk-list">{% for error in errors %}<li class="uk-text-danger">{{ error }}</li>{% endfor %}</ul>{% endif %}
{% endmacro %}
{% from _self import errorList %}
{% macro textField(handle, placeholder, account) %}<div class="uk-margin"><div class="uk-inline full-width"><input class="uk-input uk-form-large" id="{{ handle }}" type="text" placeholder="{{ placeholder }}" name="fields[{{ handle }}]" {%- if account %} value="{{ account[handle] }}"{% endif -%}></div></div>{% endmacro %}
{% from _self import textField %}
{% if isEdit %}<legend class="uk-legend">Update your profile</legend>{% else %}<legend class="uk-legend">Register new user</legend>{% endif %}<p class="uk-text-meta">Fields marked with a <span class="uk-text-danger">*</span> are required.</p>{% if not isEdit %}<div class="uk-margin"><label class="uk-form-label " for="username">Username: <span class="uk-text-danger">*</span></label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
<input class="uk-input uk-form-large" id="username" placeholder="" v-model="registerForm.username" type="text" name="username" {%- if account is defined %} value="{{ account.username }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors('username')) }}
{% endif %}<div class="uk-margin"><label class="uk-form-label " for="email">Email: <span class="uk-text-danger">*</span></label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
<input class="uk-input uk-form-large" id="email" type="text" placeholder="user@example.com" name="email" {%- if account is defined %} value="{{ account.email }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors('email')) }}
{% endif %}
{% endif %}
{% set fhandle = 'firstName' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">Photo: </label><div class="uk-form-controls"><div class="uk-inline full-width"><div v-if="profileImages.length == 0"><input type="hidden" name="fields[profilePhoto]" value=""/></div><div v-for="(value, index) in profileImages"><input type="hidden" v-bind:name="'fields[profilePhoto][' + index + ']'" v-model="value.craftId"/></div><div id="profile-upload"></div>{% if account is defined and account.profilePhoto | length %}<script>window['profileImages'] = [{
'name' : '{{ account.profilePhoto[0].title }}',
'uuid' : '{{ account.profilePhoto[0].id }}',
'thumbnailUrl' : '{{ account.profilePhoto[0].url("profile") }}'
}];</script>{% endif %}</div></div></div><!--////Field block-->{% set fhandle = 'firstName' %}
{% set fplaceholder = 'First Name' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: <span class="uk-text-danger">*</span></label><div class="uk-form-controls"><div class="uk-inline full-width"><input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="John" name="firstName" {%- if account is defined %} value="{{ account.firstName }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end--><!--////Field block-->{% set fhandle = 'lastName' %}
{% set fplaceholder = 'Last Name' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: <span class="uk-text-danger">*</span></label><div class="uk-form-controls"><div class="uk-inline full-width"><input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="Smith" name="lastName" {%- if account is defined %} value="{{ account.lastName }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end-->
<!--////Field block-->{% set fhandle = 'qualifications' %}
{% set fplaceholder = 'Qualifications' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}:</label><div class="uk-form-controls"><div class="uk-inline full-width"><input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="BA (Hons)" name="fields[qualifications]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end--><!--////Field block-->{% set fhandle = 'ajaMembershipNo' %}
{% set fplaceholder = 'AJA Membership No' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end--><!--////Field block-->{% set fhandle = 'arbMembershipNo' %}
{% set fplaceholder = 'ARB Membership No' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end-->
<!--////Field block-->{% set fhandle = 'ribaMembershipNo' %}
{% set fplaceholder = 'RIBA Membership No' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end-->
<!--////Field block-->{% set fhandle = 'companyWebsite' %}
{% set fplaceholder = 'Company Website' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: link"></span>
<input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="https://www.example.com" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end--><!--////Field block-->{% set fhandle = 'phoneNumber' %}
{% set fplaceholder = 'Phone Number' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: receiver"></span>
<input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="+44 1534 123456" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end-->
<!--////TEXTAREA block-->{% set fhandle = 'personalProfile' %}
{% set fplaceholder = 'Personal Profile' %}
{% if account is defined %}
{% set pp = account.personalProfile | replace({ '"' : '' }) | replace({ "'" : '' }) %}<script>window.personalProfile = "{{ pp|replace({'\n':' ', '\r':' '}) | raw }}";</script>{% endif %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><span v-if="personalProfile.length" class="uk-text-meta">Characters ${ personalProfile.length } / 1100</span><textarea class="uk-textarea uk-form-large" maxlength="1100" v-model="personalProfile" name="fields[{{ fhandle }}]" rows="5" placeholder="(max 1100 characters)" value="{{ account.personalProfile }}"></textarea></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end-->
<!--////Field block-->{% set fhandle = 'facebookLink' %}
{% set fplaceholder = 'Facebook Link' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" style="color: #4167B2" uk-icon="icon: facebook"></span>
<input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end--><!--////Field block-->{% set fhandle = 'instagramLink' %}
{% set fplaceholder = 'Instagram Link' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" style="color: #C74C4D" uk-icon="icon: instagram"></span>
<input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end--><!--////Field block-->{% set fhandle = 'linkedinLink' %}
{% set fplaceholder = 'LinkedIn Link' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" style="color: #0277B5" uk-icon="icon: linkedin"></span>
<input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end--><!--////Field block-->{% set fhandle = 'pinterestLink' %}
{% set fplaceholder = 'Pinterest Link' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" style="color: #BD071B" uk-icon="icon: pinterest"></span>
<input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end--><!--////Field block-->{% set fhandle = 'twitterLink' %}
{% set fplaceholder = 'Twitter Link' %}<div class="uk-margin"><label class="uk-form-label " for="{{ fhandle }}">{{ fplaceholder }}: </label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" style="color: #1DA1F2" uk-icon="icon: twitter"></span>
<input class="uk-input uk-form-large" id="{{ fhandle }}" type="text" placeholder="" name="fields[{{ fhandle }}]" {%- if account is defined %} value="{{ account[fhandle] }}"{% endif -%}></div></div></div>{% if account is defined %}
{{ errorList(account.getErrors(fhandle)) }}
{% endif %}<!--////end-->
{% if not isEdit %}<!--password section--><div class="uk-margin"><label class="uk-form-label " for="password1">Password: </label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
<input class="uk-input uk-form-large" id="password1" placeholder="•••••••" v-model="pass1" type="password" name="password" {%- if account is defined %} value="{{ account.password }}"{% endif -%}></div></div></div><div class="uk-margin"><label class="uk-form-label " for="password2">Confirm password: </label><div class="uk-form-controls"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
<input class="uk-input uk-form-large" id="password2" placeholder="•••••••" v-model="pass2" type="password" {%- if account is defined %} value="{{ account.password }}"{% endif -%}></div></div></div><p v-if="pass1 != pass2 &amp;&amp; pass1.length &gt; 0 &amp;&amp; pass2.length &gt; 0" class="uk-text-danger">Passwords do not match</p>{% if account is defined %}
{{ errorList(account.getErrors('password')) }}
{% endif %}<div class="uk-margin-top uk-clearfix"><input type="submit" value="Register" v-bind:disabled="pass1 != pass2 || pass1.length == 0 || pass2.length == 0" class="uk-button uk-button-secondary uk-button-large uk-float-right"/></div>{% else %}<div class="uk-margin-top uk-clearfix"><input type="submit" value="Update" class="uk-button uk-button-secondary uk-button-large uk-float-right"/></div>{% endif %}
