craft/templates/_includes/_video-block-full.jade
section.uk-padding-large(class="{% if block.smallPadding %}{% else %}large-pad-top{% endif %}")(class="{% if entry == 'Education' %}uk-education-large{% endif %}").video-block
   .max-width
    | {% if block.heading | length %}
    h2.uk-text-lead {{block.heading}}
    | {% endif %}
    {% if block.video |length %}
    .row(style="text-align: center;")
        .col.col--3-of-4
            .video.video-1
                .video-cont
                    .video-inner            
                        {% if 'youtube' in block.video %}
                        .video-overlay.video-overlay-1.js-open-video2(href='#', data-video="{% if 'watch?v=' in block.video %}{{ block.video |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video}}?autoplay=1{% endif %}")
                        {% elseif 'vimeo' in block.video %}
                        .video-overlay.video-overlay-1.js-open-video2(href='#', data-video="{% if 'player' in block.video %}{{ block.video }}?autoplay=1&loop=1&autopause=0{% else %}{{ block.video |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&loop=1&autopause=0{% endif %}")
                        {% endif %}
                        .videoWrapper
                            {% if 'youtube' in block.video %}
                            iframe(width='560', height='315', src="{% if 'watch?v=' in block.video %}{{ block.video |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video}}{% endif %}", frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                            {% elseif 'vimeo' in block.video %}
                            iframe(src="{% if 'player' in block.video %}{{ block.video }}{% else %}{{ block.video |replace({'vimeo.com': 'player.vimeo.com/video'}) }}{% endif %}", width='640', height='480', frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')
                            {% endif %}
    {% endif %}
.openVideo#openVideo2.modal
    .modal-content
            .modal-header
                span.close-modal ×
            .modal-body
                .videoWrapper
                    iframe(width='560', height='315', src='', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

craft/templates/_includes/_video-block-full.html
<section class="uk-padding-large {% if block.smallPadding %}{% else %}large-pad-top{% endif %} {% if entry == 'Education' %}uk-education-large{% endif %} video-block"><div class="max-width">{% if block.heading | length %}<h2 class="uk-text-lead">{{block.heading}}</h2>{% endif %}
{% if block.video |length %}<div style="text-align: center;" class="row"><div class="col col--3-of-4"><div class="video video-1"><div class="video-cont"><div class="video-inner">           
{% if 'youtube' in block.video %}<div href="#" data-video="{% if 'watch?v=' in block.video %}{{ block.video |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video}}?autoplay=1{% endif %}" class="video-overlay video-overlay-1 js-open-video2"></div>{% elseif 'vimeo' in block.video %}<div href="#" data-video="{% if 'player' in block.video %}{{ block.video }}?autoplay=1&amp;loop=1&amp;autopause=0{% else %}{{ block.video |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&amp;loop=1&amp;autopause=0{% endif %}" class="video-overlay video-overlay-1 js-open-video2"></div>{% endif %}<div class="videoWrapper">{% if 'youtube' in block.video %}<iframe width="560" height="315" src="{% if 'watch?v=' in block.video %}{{ block.video |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video}}{% endif %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>{% elseif 'vimeo' in block.video %}<iframe src="{% if 'player' in block.video %}{{ block.video }}{% else %}{{ block.video |replace({'vimeo.com': 'player.vimeo.com/video'}) }}{% endif %}" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>{% endif %}</div></div></div></div></div></div>{% endif %}</div></section><div id="openVideo2" class="openVideo modal"><div class="modal-content"><div class="modal-header"><span class="close-modal">×</span></div><div class="modal-body"><div class="videoWrapper"><iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div></div></div></div>
