craft/templates/_includes/_video-block.html
<section class="uk-padding-large {% if block.smallPadding %}{% else %}large-pad-top{% endif %} {% if entry == 'Education' %}uk-education-large{% endif %} video-block"><div class="max-width">{% if block.heading | length %}<h2 class="uk-text-lead">{{block.heading}}</h2>{% endif %}
{% if block.video |length %}<div class="row"><div class="col col--1-of-2"><div class="video video-1"><div class="video-cont"><div class="video-inner">           
{% if 'youtube' in block.video %}<div href="#" data-video="{% if 'watch?v=' in block.video %}{{ block.video |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video}}?autoplay=1{% endif %}" class="video-overlay video-overlay-1 js-open-video"></div>{% elseif 'vimeo' in block.video %}<div href="#" data-video="{% if 'player' in block.video %}{{ block.video }}?autoplay=1&amp;loop=1&amp;autopause=0{% else %}{{ block.video |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&amp;loop=1&amp;autopause=0{% endif %}" class="video-overlay video-overlay-1 js-open-video"></div>{% endif %}<div class="videoWrapper">{% if 'youtube' in block.video %}<iframe width="560" height="315" src="{% if 'watch?v=' in block.video %}{{ block.video |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video}}{% endif %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>{% elseif 'vimeo' in block.video %}<iframe src="{% if 'player' in block.video %}{{ block.video }}{% else %}{{ block.video |replace({'vimeo.com': 'player.vimeo.com/video'}) }}{% endif %}" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>{% endif %}</div></div></div></div></div>{% endif %}
{% if block.video2 |length %}<div class="col col--1-of-2"><div class="video video-2"><div class="video-cont"><div class="video-inner">           
{% if 'youtube' in block.video2 %}<div href="#" data-video="{% if 'watch?v=' in block.video2 %}{{ block.video2 |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video2}}?autoplay=1{% endif %}" class="video-overlay video-overlay-1 js-open-video"></div>{% elseif 'vimeo' in block.video2 %}<div href="#" data-video="{% if 'player' in block.video2 %}{{ block.video2 }}?autoplay=1&amp;loop=1&amp;autopause=0{% else %}{{ block.video2 |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&amp;loop=1&amp;autopause=0{% endif %}" class="video-overlay video-overlay-1 js-open-video"></div>{% endif %}<div class="videoWrapper">{% if 'youtube' in block.video2 %}<iframe width="560" height="315" src="{% if 'watch?v=' in block.video2 %}{{ block.video2 |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video2}}{% endif %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>{% elseif 'vimeo' in block.video2 %}<iframe src="{% if 'player' in block.video2 %}{{ block.video2 }}{% else %}{{ block.video2 |replace({'vimeo.com': 'player.vimeo.com/video2'}) }}{% endif %}" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>{% endif %}</div></div></div></div></div>{% endif %}</div><div class="row">{% if block.video3 |length %}<div class="col col--1-of-2"><div class="video video-2"><div class="video-cont"><div class="video-inner">           
{% if 'youtube' in block.video3 %}<div href="#" data-video="{% if 'watch?v=' in block.video3 %}{{ block.video3 |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video3}}?autoplay=1{% endif %}" class="video-overlay video-overlay-1 js-open-video"></div>{% elseif 'vimeo' in block.video3 %}<div href="#" data-video="{% if 'player' in block.video3 %}{{ block.video3 }}?autoplay=1&amp;loop=1&amp;autopause=0{% else %}{{ block.video3 |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&amp;loop=1&amp;autopause=0{% endif %}" class="video-overlay video-overlay-1 js-open-video"></div>{% endif %}<div class="videoWrapper">{% if 'youtube' in block.video3 %}<iframe width="560" height="315" src="{% if 'watch?v=' in block.video3 %}{{ block.video3 |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video3}}{% endif %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>{% elseif 'vimeo' in block.video3 %}<iframe src="{% if 'player' in block.video3 %}{{ block.video3 }}{% else %}{{ block.video3 |replace({'vimeo.com': 'player.vimeo.com/video2'}) }}{% endif %}" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>{% endif %}</div></div></div></div></div>{% endif %}
{% if block.video4 |length %}<div class="col col--1-of-2"><div class="video video-2"><div class="video-cont"><div class="video-inner">           
{% if 'youtube' in block.video4 %}<div href="#" data-video="{% if 'watch?v=' in block.video4 %}{{ block.video4 |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video4}}?autoplay=1{% endif %}" class="video-overlay video-overlay-1 js-open-video"></div>{% elseif 'vimeo' in block.video4 %}<div href="#" data-video="{% if 'player' in block.video4 %}{{ block.video4 }}?autoplay=1&amp;loop=1&amp;autopause=0{% else %}{{ block.video4 |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&amp;loop=1&amp;autopause=0{% endif %}" class="video-overlay video-overlay-1 js-open-video"></div>{% endif %}<div class="videoWrapper">{% if 'youtube' in block.video4 %}<iframe width="560" height="315" src="{% if 'watch?v=' in block.video4 %}{{ block.video4 |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video4}}{% endif %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>{% elseif 'vimeo' in block.video4 %}<iframe src="{% if 'player' in block.video4 %}{{ block.video4 }}{% else %}{{ block.video4 |replace({'vimeo.com': 'player.vimeo.com/video2'}) }}{% endif %}" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>{% endif %}</div></div></div></div></div>{% endif %}</div></div></section><div id="openVideo" class="openVideo modal"><div class="modal-content"><div class="modal-header"><span class="close-modal">×</span></div><div class="modal-body"><div class="videoWrapper"><iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div></div></div></div>

craft/templates/_includes/_video-block.jade
section.uk-padding-large(class="{% if block.smallPadding %}{% else %}large-pad-top{% endif %}")(class="{% if entry == 'Education' %}uk-education-large{% endif %}").video-block
   .max-width
    | {% if block.heading | length %}
    h2.uk-text-lead {{block.heading}}
    | {% endif %}
    {% if block.video |length %}
    .row
        .col.col--1-of-2
            .video.video-1
                .video-cont
                    .video-inner            
                        {% if 'youtube' in block.video %}
                        .video-overlay.video-overlay-1.js-open-video(href='#', data-video="{% if 'watch?v=' in block.video %}{{ block.video |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video}}?autoplay=1{% endif %}")
                        {% elseif 'vimeo' in block.video %}
                        .video-overlay.video-overlay-1.js-open-video(href='#', data-video="{% if 'player' in block.video %}{{ block.video }}?autoplay=1&loop=1&autopause=0{% else %}{{ block.video |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&loop=1&autopause=0{% endif %}")
                        {% endif %}
                        .videoWrapper
                            {% if 'youtube' in block.video %}
                            iframe(width='560', height='315', src="{% if 'watch?v=' in block.video %}{{ block.video |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video}}{% endif %}", frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                            {% elseif 'vimeo' in block.video %}
                            iframe(src="{% if 'player' in block.video %}{{ block.video }}{% else %}{{ block.video |replace({'vimeo.com': 'player.vimeo.com/video'}) }}{% endif %}", width='640', height='480', frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')
                            {% endif %}
        {% endif %}
        {% if block.video2 |length %}
        .col.col--1-of-2
            .video.video-2
                .video-cont
                    .video-inner            
                        {% if 'youtube' in block.video2 %}
                        .video-overlay.video-overlay-1.js-open-video(href='#', data-video="{% if 'watch?v=' in block.video2 %}{{ block.video2 |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video2}}?autoplay=1{% endif %}")
                        {% elseif 'vimeo' in block.video2 %}
                        .video-overlay.video-overlay-1.js-open-video(href='#', data-video="{% if 'player' in block.video2 %}{{ block.video2 }}?autoplay=1&loop=1&autopause=0{% else %}{{ block.video2 |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&loop=1&autopause=0{% endif %}")
                        {% endif %}
                        .videoWrapper
                            {% if 'youtube' in block.video2 %}
                            iframe(width='560', height='315', src="{% if 'watch?v=' in block.video2 %}{{ block.video2 |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video2}}{% endif %}", frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                            {% elseif 'vimeo' in block.video2 %}
                            iframe(src="{% if 'player' in block.video2 %}{{ block.video2 }}{% else %}{{ block.video2 |replace({'vimeo.com': 'player.vimeo.com/video2'}) }}{% endif %}", width='640', height='480', frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')
                            {% endif %}
        {% endif %}
    .row
        {% if block.video3 |length %}
        .col.col--1-of-2
            .video.video-2
                .video-cont
                    .video-inner            
                        {% if 'youtube' in block.video3 %}
                        .video-overlay.video-overlay-1.js-open-video(href='#', data-video="{% if 'watch?v=' in block.video3 %}{{ block.video3 |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video3}}?autoplay=1{% endif %}")
                        {% elseif 'vimeo' in block.video3 %}
                        .video-overlay.video-overlay-1.js-open-video(href='#', data-video="{% if 'player' in block.video3 %}{{ block.video3 }}?autoplay=1&loop=1&autopause=0{% else %}{{ block.video3 |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&loop=1&autopause=0{% endif %}")
                        {% endif %}
                        .videoWrapper
                            {% if 'youtube' in block.video3 %}
                            iframe(width='560', height='315', src="{% if 'watch?v=' in block.video3 %}{{ block.video3 |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video3}}{% endif %}", frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                            {% elseif 'vimeo' in block.video3 %}
                            iframe(src="{% if 'player' in block.video3 %}{{ block.video3 }}{% else %}{{ block.video3 |replace({'vimeo.com': 'player.vimeo.com/video2'}) }}{% endif %}", width='640', height='480', frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')
                            {% endif %}
        {% endif %}
        {% if block.video4 |length %}
        .col.col--1-of-2
            .video.video-2
                .video-cont
                    .video-inner            
                        {% if 'youtube' in block.video4 %}
                        .video-overlay.video-overlay-1.js-open-video(href='#', data-video="{% if 'watch?v=' in block.video4 %}{{ block.video4 |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video4}}?autoplay=1{% endif %}")
                        {% elseif 'vimeo' in block.video4 %}
                        .video-overlay.video-overlay-1.js-open-video(href='#', data-video="{% if 'player' in block.video4 %}{{ block.video4 }}?autoplay=1&loop=1&autopause=0{% else %}{{ block.video4 |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&loop=1&autopause=0{% endif %}")
                        {% endif %}
                        .videoWrapper
                            {% if 'youtube' in block.video4 %}
                            iframe(width='560', height='315', src="{% if 'watch?v=' in block.video4 %}{{ block.video4 |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video4}}{% endif %}", frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                            {% elseif 'vimeo' in block.video4 %}
                            iframe(src="{% if 'player' in block.video4 %}{{ block.video4 }}{% else %}{{ block.video4 |replace({'vimeo.com': 'player.vimeo.com/video2'}) }}{% endif %}", width='640', height='480', frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')
                            {% endif %}
        {% endif %}
.openVideo#openVideo.modal
    .modal-content
            .modal-header
                span.close-modal ×
            .modal-body
                .videoWrapper
                    iframe(width='560', height='315', src='', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
