craft/templates/projects/index.jade
{% extends '_layoutaltfoot' %}
{% block content %}
.main-container.grey-bg
  section.uk-padding-large
    .max-width
      h1.text-center.mb-large All projects
      //.row
        .col.col--2-of-3
        .col.col--1-of-3
          <div class="uk-margin">
          <select class="uk-select">
          <option>Option 01</option>
          <option>Option 02</option>
          </select>
          </div>
      .row.text-center
        {% paginate craft.entries.section('projects').order('dateUpdated desc').limit(12) as entries %}
        {% for entry in entries %}
        .col.col--1-of-4.col--m-1-of-2.text-left
          .uk-card.uk-card-default.news-card.uk-card-small
            .uk-card-media-top
              {% for asset in entry.headingImage.limit(1) %}
              img(src="{{ craft.imager.transformImage( asset, { width: 400, height: 400, format: 'jpg' } ) }}", alt="").full-width
              {% endfor %}
            .uk-card-body
              .set-height
                h3.uk-card-title.uk-margin-remove-bottom {{ entry.title }}
                time.uk-text-meta {{ entry.postDate | date('d/m/Y') }}
                {% if entry.collaborators | length %}
                {% for collab in entry.collaborators | split(',') %}
                {% set collabUser = craft.users.id(collab).first() %}
                p.uk-text-meta Architects: {{ entry.author.fullName }}, {{ collabUser.fullName }}
                {% endfor %}
                {% else %}
                p.uk-text-meta Architect: {{ entry.author.fullName }}
                {% endif %}
                {% if entry.company | length %}
                p.uk-text-meta Company: {{ entry.company }} 
                {% endif %}
            .uk-clearfix.uk-card-footer
              a(href="{{ entry.url }}").uk-button.uk-button-text.uk-float-right View Project
        {% endfor %}
    <ul class="uk-pagination uk-flex-center" uk-margin>
    //- <a href="{{ paginate.firstUrl }}">First Page</a>
    {% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}

    {% for page, url in paginate.getPrevUrls(5) %}
    <li><a href="{{ url }}">{{ page }}</a></li>
    {% endfor %}
    
    <li class="uk-active"><span>{{ paginate.currentPage }}</span></li>

    {% for page, url in paginate.getNextUrls(5) %}
    <li><a href="{{ url }}">{{ page }}</a></li>
    {% endfor %}

    {% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}
    //- <a href="{{ paginate.lastUrl }}">Last Page</a>
    </ul>
{% endblock %}

craft/templates/projects/index.html
{% extends '_layoutaltfoot' %}
{% block content %}<div class="main-container grey-bg"><section class="uk-padding-large"><div class="max-width"><h1 class="text-center mb-large">All projects</h1><!--.row.col.col--2-of-3
.col.col--1-of-3
  <div class="uk-margin">
  <select class="uk-select">
  <option>Option 01</option>
  <option>Option 02</option>
  </select>
  </div>--><div class="row text-center">{% paginate craft.entries.section('projects').order('dateUpdated desc').limit(12) as entries %}
{% for entry in entries %}<div class="col col--1-of-4 col--m-1-of-2 text-left"><div class="uk-card uk-card-default news-card uk-card-small"><div class="uk-card-media-top">{% for asset in entry.headingImage.limit(1) %}<img src="{{ craft.imager.transformImage( asset, { width: 400, height: 400, format: 'jpg' } ) }}" alt="" class="full-width"/>{% endfor %}</div><div class="uk-card-body"><div class="set-height"><h3 class="uk-card-title uk-margin-remove-bottom">{{ entry.title }}</h3><time class="uk-text-meta">{{ entry.postDate | date('d/m/Y') }}</time>{% if entry.collaborators | length %}
{% for collab in entry.collaborators | split(',') %}
{% set collabUser = craft.users.id(collab).first() %}<p class="uk-text-meta">Architects: {{ entry.author.fullName }}, {{ collabUser.fullName }}</p>{% endfor %}
{% else %}<p class="uk-text-meta">Architect: {{ entry.author.fullName }}</p>{% endif %}
{% if entry.company | length %}<p class="uk-text-meta">Company: {{ entry.company }} </p>{% endif %}</div></div><div class="uk-clearfix uk-card-footer"><a href="{{ entry.url }}" class="uk-button uk-button-text uk-float-right">View Project</a></div></div></div>{% endfor %}</div></div><ul class="uk-pagination uk-flex-center" uk-margin>{% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}
{% for page, url in paginate.getPrevUrls(5) %}
<li><a href="{{ url }}">{{ page }}</a></li>
{% endfor %}
<li class="uk-active"><span>{{ paginate.currentPage }}</span></li>
{% for page, url in paginate.getNextUrls(5) %}
<li><a href="{{ url }}">{{ page }}</a></li>
{% endfor %}
{% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}</ul></section></div>{% endblock %}
