craft/templates/news/index0.html
{% extends '_layoutaltfoot' %}
{% block content %}<div class="main-container grey-bg"><section class="uk-padding-large"><div class="max-width"><h1 class="text-center mb-large">News</h1><div class="row text-center">{% if craft.request.isMobileBrowser %}<div class="col col--1-of-3"><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJerseyArchitectsOrg%2F&amp;tabs=timeline&amp;width=325&amp;height=525&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="325" height="525" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div><div class="col col--2-of-3"><div class="row">{% paginate craft.entries.section('news').limit(12) as entries %}
{% for entry in entries %}<div class="col col--1-of-2 col--m-1-of-2 text-left"><div class="uk-card uk-card-default news-card uk-card-small"><div class="uk-card-media-top">{% for asset in entry.headingImage.limit(1) %}<img src="{{ craft.imager.transformImage( asset, { width: 400, height: 400, format: 'jpg' } ) }}" alt="" class="full-width"/>{% endfor %}</div><div class="uk-card-body"><div class="set-height"><h3 class="uk-card-title uk-margin-remove-bottom">{{ entry.title }}</h3><time class="uk-text-meta">{{ entry.postDate | date('d/m/Y') }}</time><p>{{ entry.abstract }}</p></div></div><div class="uk-clearfix uk-card-footer"><a href="{{ entry.url }}" class="uk-button uk-button-text uk-float-right">View Article</a></div></div></div>{% endfor %}</div></div>{% else %}<div class="col col--2-of-3 news-cont"><div class="row">{% paginate craft.entries.section('news').limit(12) as entries %}
{% for entry in entries %}<div class="col col--1-of-2 col--m-1-of-2 text-left"><div class="uk-card uk-card-default news-card uk-card-small"><div class="uk-card-media-top">{% for asset in entry.headingImage.limit(1) %}<img src="{{ craft.imager.transformImage( asset, { width: 400, height: 400, format: 'jpg' } ) }}" alt="" class="full-width"/>{% endfor %}</div><div class="uk-card-body"><div class="set-height"><h3 class="uk-card-title uk-margin-remove-bottom">{{ entry.title }}</h3><time class="uk-text-meta">{{ entry.postDate | date('d/m/Y') }}</time><p>{{ entry.abstract }}</p></div></div><div class="uk-clearfix uk-card-footer"><a href="{{ entry.url }}" class="uk-button uk-button-text uk-float-right">View Article</a></div></div></div>{% endfor %}</div></div><div class="col col--1-of-3 news-cont"><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJerseyArchitectsOrg%2F&amp;tabs=timeline&amp;width=400&amp;height=1300&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="400" height="1300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>{% endif %}<div class="col col--2-of-3"><div class="row">{% paginate craft.entries.section('news').limit(12) as entries %}
{% for entry in entries %}<div class="col col--1-of-2 col--m-1-of-2 text-left"><div class="uk-card uk-card-default news-card uk-card-small"><div class="uk-card-media-top">{% for asset in entry.headingImage.limit(1) %}<img src="{{ craft.imager.transformImage( asset, { width: 400, height: 400, format: 'jpg' } ) }}" alt="" class="full-width"/>{% endfor %}</div><div class="uk-card-body"><div class="set-height"><h3 class="uk-card-title uk-margin-remove-bottom">{{ entry.title }}</h3><time class="uk-text-meta">{{ entry.postDate | date('d/m/Y') }}</time><p>{{ entry.abstract }}</p></div></div><div class="uk-clearfix uk-card-footer"><a href="{{ entry.url }}" class="uk-button uk-button-text uk-float-right">View Article</a></div></div></div>{% endfor %}</div></div><div class="col col--1-of-3">{% if craft.request.isMobileBrowser %}<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJerseyArchitectsOrg%2F&amp;tabs=timeline&amp;width=325&amp;height=525&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="325" height="525" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>{% else %}<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJerseyArchitectsOrg%2F&amp;tabs=timeline&amp;width=425&amp;height=1300&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="425" height="1300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>{% endif %}</div><ul class="uk-pagination uk-flex-center" uk-margin>{% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}
{% for page, url in paginate.getPrevUrls(5) %}
<li><a href="{{ url }}">{{ page }}</a></li>
{% endfor %}
<li class="uk-active"><span>{{ paginate.currentPage }}</span></li>
{% for page, url in paginate.getNextUrls(5) %}
<li><a href="{{ url }}">{{ page }}</a></li>
{% endfor %}
{% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}</ul></div></div></section></div>{% endblock %}

craft/templates/news/index0.jade
{% extends '_layoutaltfoot' %}
{% block content %}
.main-container.grey-bg
  section.uk-padding-large
    .max-width
      h1.text-center.mb-large News
      .row.text-center
        {% if craft.request.isMobileBrowser %}
        .col.col--1-of-3
            iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJerseyArchitectsOrg%2F&tabs=timeline&width=325&height=525&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='325', height='525', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', allow='encrypted-media')
        .col.col--2-of-3
          .row
            {% paginate craft.entries.section('news').limit(12) as entries %}
            {% for entry in entries %}
            .col.col--1-of-2.col--m-1-of-2.text-left
              .uk-card.uk-card-default.news-card.uk-card-small
                .uk-card-media-top
                  {% for asset in entry.headingImage.limit(1) %}
                  img(src="{{ craft.imager.transformImage( asset, { width: 400, height: 400, format: 'jpg' } ) }}", alt="").full-width
                  {% endfor %}
                .uk-card-body
                  .set-height
                    h3.uk-card-title.uk-margin-remove-bottom {{ entry.title }}
                    time.uk-text-meta {{ entry.postDate | date('d/m/Y') }}
                    p {{ entry.abstract }}
                .uk-clearfix.uk-card-footer
                  a(href="{{ entry.url }}").uk-button.uk-button-text.uk-float-right View Article
            {% endfor %}
        {% else %}
        .col.col--2-of-3.news-cont
          .row
            {% paginate craft.entries.section('news').limit(12) as entries %}
            {% for entry in entries %}
            .col.col--1-of-2.col--m-1-of-2.text-left
              .uk-card.uk-card-default.news-card.uk-card-small
                .uk-card-media-top
                  {% for asset in entry.headingImage.limit(1) %}
                  img(src="{{ craft.imager.transformImage( asset, { width: 400, height: 400, format: 'jpg' } ) }}", alt="").full-width
                  {% endfor %}
                .uk-card-body
                  .set-height
                    h3.uk-card-title.uk-margin-remove-bottom {{ entry.title }}
                    time.uk-text-meta {{ entry.postDate | date('d/m/Y') }}
                    p {{ entry.abstract }}
                .uk-clearfix.uk-card-footer
                  a(href="{{ entry.url }}").uk-button.uk-button-text.uk-float-right View Article
            {% endfor %}
        .col.col--1-of-3.news-cont
          iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJerseyArchitectsOrg%2F&tabs=timeline&width=400&height=1300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='400', height='1300', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', allow='encrypted-media')
        {% endif %}
        .col.col--2-of-3
          .row
            {% paginate craft.entries.section('news').limit(12) as entries %}
            {% for entry in entries %}
            .col.col--1-of-2.col--m-1-of-2.text-left
              .uk-card.uk-card-default.news-card.uk-card-small
                .uk-card-media-top
                  {% for asset in entry.headingImage.limit(1) %}
                  img(src="{{ craft.imager.transformImage( asset, { width: 400, height: 400, format: 'jpg' } ) }}", alt="").full-width
                  {% endfor %}
                .uk-card-body
                  .set-height
                    h3.uk-card-title.uk-margin-remove-bottom {{ entry.title }}
                    time.uk-text-meta {{ entry.postDate | date('d/m/Y') }}
                    p {{ entry.abstract }}
                .uk-clearfix.uk-card-footer
                  a(href="{{ entry.url }}").uk-button.uk-button-text.uk-float-right View Article
            {% endfor %}
        .col.col--1-of-3
            {% if craft.request.isMobileBrowser %}
            iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJerseyArchitectsOrg%2F&tabs=timeline&width=325&height=525&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='325', height='525', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', allow='encrypted-media')
            {% else %}
            iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJerseyArchitectsOrg%2F&tabs=timeline&width=425&height=1300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='425', height='1300', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', allow='encrypted-media')
            {% endif %}
        
        <ul class="uk-pagination uk-flex-center" uk-margin>
        //- <a href="{{ paginate.firstUrl }}">First Page</a>
        {% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}
        
        {% for page, url in paginate.getPrevUrls(5) %}
        <li><a href="{{ url }}">{{ page }}</a></li>
        {% endfor %}
        
        <li class="uk-active"><span>{{ paginate.currentPage }}</span></li>
        
        {% for page, url in paginate.getNextUrls(5) %}
        <li><a href="{{ url }}">{{ page }}</a></li>
        {% endfor %}
        
        {% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}
        //- <a href="{{ paginate.lastUrl }}">Last Page</a>
        </ul>

{% endblock %}
