craft/templates/search/index.jade
{% extends '_layoutaltfoot' %}
{% block content %}
{% set query = craft.request.getParam('q', '') %}
.main-container.grey-bg
  section.uk-padding-large
    .max-small
      h1.text-center Search results
      {% set results = craft.entries.search(query).section('not forum') %}
      {% set userResults = craft.users.search(query) %}
      p.text-center Your search of '{{ query }}' has returned {{ results.total() }} results
      {% for result in results %}
      .uk-card.uk-card-default.uk-card-small
        .uk-card-body
          h3.uk-card-title.inb.uk-margin-remove-bottom {{ result.title }}
          span.uk-badge.uk-float-right {{ result.type }}
          {% if result.type == 'projects' %}
          p.uk-text-meta Project by {{ result.author.fullName | ucwords }}
          {% endif %}
        .uk-card-footer.uk-clearfix
          a(href="{{ result.getUrl }}").uk-button.uk-button-text.uk-float-right view page
      {% endfor %}
      
      {% for result in userResults %}
      
      {% endfor %}
      
{% endblock %}

craft/templates/search/index.html
{% extends '_layoutaltfoot' %}
{% block content %}
{% set query = craft.request.getParam('q', '') %}<div class="main-container grey-bg"><section class="uk-padding-large"><div class="max-small"><h1 class="text-center">Search results</h1>{% set results = craft.entries.search(query).section('not forum') %}
{% set userResults = craft.users.search(query) %}<p class="text-center">Your search of '{{ query }}' has returned {{ results.total() }} results</p>{% for result in results %}<div class="uk-card uk-card-default uk-card-small"><div class="uk-card-body"><h3 class="uk-card-title inb uk-margin-remove-bottom">{{ result.title }}</h3><span class="uk-badge uk-float-right">{{ result.type }}</span>{% if result.type == 'projects' %}<p class="uk-text-meta">Project by {{ result.author.fullName | ucwords }}</p>{% endif %}</div><div class="uk-card-footer uk-clearfix"><a href="{{ result.getUrl }}" class="uk-button uk-button-text uk-float-right">view page</a></div></div>{% endfor %}
{% for result in userResults %}
{% endfor %}</div></section></div>{% endblock %}
