craft/templates/user/login.jade
{% extends '_layoutaltfoot' %}
{% block content %}
{% set reg = craft.request.getParam('reg','') %}
.main-container.grey-bg
  {% if reg | length %}
  #email-confirm(uk-modal)
    .uk-modal-dialog.uk-modal-body
      h2.uk-modal-title Nearly There
      p We received your request for a members account and we are currently reviewing it. You will receive a verification email once the account has been approved.
      .uk-clearfix
        a(href="{{ craft.request.url }}").uk-modal-close.uk-button-secondary.uk-button.uk-float-right Ok
  {% endif %}
  {% if account is defined %}
  script.
    window.login = false;
  {% endif %}
  section.register-form
    .uk-padding-large
      .max-small.white-bg.shad
        .uk-padding.uk-padding-remove-bottom
          ul(uk-tab)
            li(@click="login=true")
              a(href="http://") Login
            li(@click="login=false" class="{% if account is defined %}uk-active{% endif %}")
              a(href="http://") Register
        transition(name="fade" mode="out-in")
          .login(v-if="login" v-bind:key='0')
            .uk-padding
              form(method="post" accept-charset="UTF-8")
                fieldset.uk-fieldset
                  legend.uk-legend Log in
                  {{ getCsrfInput() }}
                  input(type="hidden" name="action" value="users/login")
                  <input type="hidden" name="redirect" value="{{ siteUrl }}user">
                  .uk-margin
                    .uk-inline.full-width
                      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                      input(type="text" class="uk-input uk-form-large" placeholder="Username or email" name="loginName" value="{{ craft.session.rememberedUsername }}")
                  .uk-margin
                    .uk-inline.full-width
                      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                      input(type="password" placeholder="Password" class="uk-input uk-form-large" name="password")
                  .uk-margin
                    a(href="{{ siteUrl }}user/forgot").uk-float-right.uk-button-text.uk-link-reset Forgot password?
                    label
                      input(type="checkbox" name="rememberMe" value="1" checked).uk-checkbox
                      span.uk-margin-small-left Remember me?
                  {% if errorMessage is defined %}
                  p.uk-text-danger {{ errorMessage }}
                  {% endif %} 
                  .uk-margin-top.uk-clearfix
                    input(type="submit" value="Log in").uk-button.uk-button-secondary.uk-button-large.uk-float-right
          .register(v-else v-bind:key='1')
            .uk-padding
              form(method="post" accept-charset="UTF-8").uk-form-horizontal.register-form.js-register-form
                fieldset.uk-fieldset
                  {{ getCsrfInput() }}
                  <input id="bear" value="" display>
                  <input type="hidden" name="action" value="users/saveUser">
                  <input type="hidden" name="redirect" value="{{ craft.request.url }}?reg=true">
                  {% include '_includes/_user-form.html' %}
{% endblock %}

craft/templates/user/login.html
{% extends '_layoutaltfoot' %}
{% block content %}
{% set reg = craft.request.getParam('reg','') %}<div class="main-container grey-bg">{% if reg | length %}<div id="email-confirm" uk-modal="uk-modal"><div class="uk-modal-dialog uk-modal-body"><h2 class="uk-modal-title">Nearly There</h2><p>We received your request for a members account and we are currently reviewing it. You will receive a verification email once the account has been approved.</p><div class="uk-clearfix"><a href="{{ craft.request.url }}" class="uk-modal-close uk-button-secondary uk-button uk-float-right">Ok</a></div></div></div>{% endif %}
{% if account is defined %}<script>window.login = false;</script>{% endif %}<section class="register-form"><div class="uk-padding-large"><div class="max-small white-bg shad"><div class="uk-padding uk-padding-remove-bottom"><ul uk-tab="uk-tab"><li @click="login=true"><a href="http://">Login</a></li><li @click="login=false" class="{% if account is defined %}uk-active{% endif %}"><a href="http://">Register</a></li></ul></div><transition name="fade" mode="out-in"><div v-if="login" v-bind:key="0" class="login"><div class="uk-padding"><form method="post" accept-charset="UTF-8"><fieldset class="uk-fieldset"><legend class="uk-legend">Log in</legend>{{ getCsrfInput() }}<input type="hidden" name="action" value="users/login"/><input type="hidden" name="redirect" value="{{ siteUrl }}user"><div class="uk-margin"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span><input type="text" placeholder="Username or email" name="loginName" value="{{ craft.session.rememberedUsername }}" class="uk-input uk-form-large"/></div></div><div class="uk-margin"><div class="uk-inline full-width"><span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span><input type="password" placeholder="Password" name="password" class="uk-input uk-form-large"/></div></div><div class="uk-margin"><a href="{{ siteUrl }}user/forgot" class="uk-float-right uk-button-text uk-link-reset">Forgot password?</a><label><input type="checkbox" name="rememberMe" value="1" checked="checked" class="uk-checkbox"/><span class="uk-margin-small-left">Remember me?</span></label></div>{% if errorMessage is defined %}<p class="uk-text-danger">{{ errorMessage }}</p>{% endif %} <div class="uk-margin-top uk-clearfix"><input type="submit" value="Log in" class="uk-button uk-button-secondary uk-button-large uk-float-right"/></div></fieldset></form></div></div><div v-else="v-else" v-bind:key="1" class="register"><div class="uk-padding"><form method="post" accept-charset="UTF-8" class="uk-form-horizontal register-form js-register-form"><fieldset class="uk-fieldset">{{ getCsrfInput() }}
<input id="bear" value="" display>
<input type="hidden" name="action" value="users/saveUser">
<input type="hidden" name="redirect" value="{{ craft.request.url }}?reg=true">
{% include '_includes/_user-form.html' %}</fieldset></form></div></div></transition></div></div></section></div>{% endblock %}
