craft/templates/contact/index.html
{% extends '_layoutaltfoot' %}
{% block content %}<div class="main-container grey-bg"><section class="register-form"><div class="uk-padding-large"><h1 class="text-center mb-large">Contact Us</h1><div class="max-small white-bg shad"><div class="uk-padding"><p class="uk-text-large">AJA officers & council</p><dl class="uk-description-list col2">{% for contact in entry.contactList %}<dt>{{ contact.name | upper }}</dt><dd>{{ contact.contactDetails }}</dd>{% endfor %}</dl><p class="uk-text-large uk-margin-medium-top">Send us a message</p>{% if errors is defined %}<ul class="uk-list uk-list-bullet">{% for field in errors %}
{% for error in field %}<li class="uk-text-danger">{{ error }}</li>{% endfor %}
{% endfor %}</ul>{% endif %}
{% set success = craft.request.getParam('success','') %}
{% if success | length == 0 %}<form method="post" action="" accept-charset="UTF-8">{{ getCsrfInput() }}
<input type="hidden" name="action" value="contactForm/message/add">
<input type="hidden" name="formId" value="1">
<input type="hidden" name="redirect" value="{{ craft.request.url }}?success=true"><div class="uk-margin"><label for="name" class="uk-form-label">Name:</label><div class="uk-form-controls"><div class="uk-inline full-width"><input id="name" type="text" name="name" value="{% if message is defined %}{{ message.name }}{% endif %}" placeholder="E.g John Smith" class="uk-input uk-form-large"/></div></div></div><div class="uk-margin"><label for="email">Email:</label><div class="uk-form-controls"><div class="uk-inline full-width"><input id="email" type="text" name="email" value="{% if message is defined %}{{ message.email }}{% endif %}" placeholder="john@website.com" class="uk-input uk-form-large"/></div></div></div><input name="bear" tabindex="-1" class="bear"/><div class="uk-margin"><label for="email">Message:</label><div class="uk-form-controls"><div class="uk-inline full-width"><span v-if="personalProfile.length" class="uk-text-meta">Characters ${ personalProfile.length } / 1100</span><textarea id="email" v-model="personalProfile" maxlength="1100" rows="5" name="message" value="{% if message is defined %}{{ message.message }}{% endif %}" class="uk-textarea uk-form-large"></textarea></div></div></div><div class="uk-margin-top uk-clearfix"><input type="submit" value="Send" class="uk-button uk-button-secondary uk-button-large uk-float-right"/></div></form>{% else %}<p class="uk-text-center uk-text-lead">Thank you, you message has been sent!</p>{% endif %}</div></div></div></section></div>{% endblock %}

craft/templates/contact/index.jade
{% extends '_layoutaltfoot' %}
{% block content %}
.main-container.grey-bg
  section.register-form
    .uk-padding-large
      h1.text-center.mb-large Contact Us
      .max-small.white-bg.shad
        .uk-padding
          p.uk-text-large AJA officers & council
          dl.uk-description-list.col2
            {% for contact in entry.contactList %}
            dt {{ contact.name | upper }}
            dd {{ contact.contactDetails }}
            {% endfor %}
          p.uk-text-large.uk-margin-medium-top Send us a message
          {% if errors is defined %}
          ul.uk-list.uk-list-bullet
            {% for field in errors %}
            {% for error in field %}
            li.uk-text-danger {{ error }}
            {% endfor %}
            {% endfor %}
          {% endif %}
          {% set success = craft.request.getParam('success','') %}
          {% if success | length == 0 %}
          form(method="post" action="" accept-charset="UTF-8")
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="contactForm/message/add">
            <input type="hidden" name="formId" value="1">
            <input type="hidden" name="redirect" value="{{ craft.request.url }}?success=true">
            
            .uk-margin
              label(for="name").uk-form-label Name:
              .uk-form-controls
                .uk-inline.full-width
                  input(id="name" type="text" name="name" value="{% if message is defined %}{{ message.name }}{% endif %}" placeholder="E.g John Smith").uk-input.uk-form-large
            
            .uk-margin
              label(for="email") Email:
              .uk-form-controls
                .uk-inline.full-width
                  input(id="email" type="text" name="email" value="{% if message is defined %}{{ message.email }}{% endif %}" placeholder="john@website.com").uk-input.uk-form-large
            input(name="bear" tabindex="-1").bear
            .uk-margin
              label(for="email") Message:
              .uk-form-controls
                .uk-inline.full-width
                  span.uk-text-meta(v-if="personalProfile.length") Characters ${ personalProfile.length } / 1100
                  textarea(id="email" v-model="personalProfile" maxlength="1100" rows="5" name="message" value="{% if message is defined %}{{ message.message }}{% endif %}").uk-textarea.uk-form-large

            .uk-margin-top.uk-clearfix
              input(type="submit" value="Send").uk-button.uk-button-secondary.uk-button-large.uk-float-right
          {% else %}
          p.uk-text-center.uk-text-lead Thank you, you message has been sent!
          {% endif %}
{% endblock %}
