craft/templates/index.html
{% extends '_layout' %}
{% block content %}
{% set grabBg = '' %}<div class="main-container"><div class="home-project-slider uk-light"><a href="#" uk-icon="icon: chevron-left; ratio:2" class="uk-position-center-left uk-position-small z-index-10 home-project-slider-prev"></a><a href="#" uk-icon="icon: chevron-right; ratio:2" class="uk-position-center-right uk-position-small z-index-10 home-project-slider-next"></a><div class="swiper-container"><div class="swiper-wrapper">{% for project in craft.entries.section('projects').order('RAND()').limit(4) %}<a href="{{ project.url }}" class="block swiper-slide uk-position-relative"><div data-background="{{ craft.imager.transformImage(project.headingImage[0], {format: 'jpg', width: 1000}) }}" style="background-image: url('{{ craft.imager.transformImage(project.headingImage[0], {format: 'jpg', width: 15, blur: 5}) }}')" class="swiper-lazy"> </div><div class="uk-position-bottom uk-position medium uk-light z-index-1 uk-text-center uk-padding"><div class="max-width"><div class="row"><div class="col col--1-of-4 uk-text-left"><p class="pre-line smaller">TITLE</p><p class="uk-margin-remove">{{ project.title }}</p></div><div class="col col--1-of-4 uk-text-left"><p class="pre-line smaller">COMPANY</p><p class="uk-margin-remove">{{ project.company }}</p></div><div class="col col--1-of-4 uk-text-left"><p class="pre-line smaller">LOCATION</p><p class="uk-margin-remove">{{ project.location }}</p></div><div class="col col--1-of-4 uk-text-left"><p class="pre-line smaller">Architect</p><p class="uk-margin-remove">{{ project.author.fullName | ucwords }}</p></div><!--.col.col--1-of-4.vba(href="{{ project.url }}") VIEW PROJECT--></div></div></div></a>{% endfor %}</div></div></div><section class="uk-padding-large"><div class="max-width"><div class="uk-padding-large uk-padding-remove-top uk-padding-remove-left uk-padding-remove-right"><div class="row"><div class="col col--3-of-4"><h1>{{ entry.firstHeading }}</h1></div></div><div class="uk-margin-top uk-margin-bottom uk-clearfix mbs-wrap"><span class="uk-text-lead uk-link-reset orange-link">Recently submitted work / </span><script>window.recentWork = {
  {% for cat in craft.categories.group('propertyCategory') %}
  {{ cat.id }} : false,
  {% endfor %}
};</script>{% for cat in craft.categories.group('propertyCategory') %}<a href="#/" @click="recentWork[{{ cat.id }}] = !recentWork[{{ cat.id }}]" v-bind:class="{ 'selected' : recentWork[{{ cat.id }}] }" class="uk-link-reset orange-link">{{ cat.title }} ({{ craft.entries.section('projects').relatedTo(cat).total() }}), </a>{% endfor %}<a href="#/" @click="{% for cat in craft.categories.group('propertyCategory') %}recentWork[{{ cat.id }}] = false; {% endfor %}" v-bind:class="{ 'selected' : {% for cat in craft.categories.group('propertyCategory') %}!recentWork[{{ cat.id }}] {{ not loop.last ? '&amp;&amp;' : '' }}{% endfor %} }" class="uk-link-reset orange-link uk-float-right">All ({{ craft.entries.section('projects').total() }})</a></div>{% set projects = craft.entries.section('projects').order('dateUpdated desc') %}<div class="multi-block-swiper"><div class="swiper-container uk-light"><a href="#" uk-icon="icon: chevron-left; ratio:2" class="uk-position-center-left uk-position-small z-index-10 slide-prev"></a><a href="#" uk-icon="icon: chevron-right; ratio:2" class="uk-position-center-right uk-position-small z-index-10 slide-next"></a><div class="swiper-wrapper">{% if projects is not defined %}
{% set projects = craft.entries.section('projects').order('dateUpdated desc') %}
{% endif %}
{% for project in projects %}<transition name="fade" mode="out-in"><div v-if="({% for cat in project.propertyCategories %}recentWork[{{ cat.id }}] {{ not loop.last ? '||' : '' }}{% endfor %}) || ({% for cat in craft.categories.group('propertyCategory') %}!recentWork[{{ cat.id }}] {{ not loop.last ? '&amp;&amp;' : '' }}{% endfor %})" class="swiper-slide white-text"><a href="{{ project.url }}" class="square-image-btn uk-background-cover"><div data-background="{% for asset in project.headingImage.limit(1) %}{{ craft.imager.transformImage(asset, {width: 300, height: 300, format: 'jpg'}) }}{% endfor %}" style="{% for asset in project.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, {width: 12, blur: 30, format: 'jpg'}) }}'){% endfor %}" class="swiper-lazy"></div><div class="inner"><div class="uk-padding"><p class="pre-line uk-margin-remove">Project name</p><p class="uk-margin-remove-top">{{ project.title }}</p><p class="pre-line uk-margin-remove">Architect</p><p class="uk-margin-remove-top">{{ project.author.fullName }}</p><p class="pre-line uk-margin-remove">Company</p><p class="uk-margin-remove-top">{{ project.company }}</p><p class="pre-line uk-margin-remove">Location</p><p class="uk-margin-remove-top">{{ project.location }}</p></div></div></a></div></transition>{% endfor %}</div><div class="swiper-scrollbar grabbg-{{ grabBg }}"></div></div></div></div></div></section><section class="uk-padding-large orange-grad2 white-text"><div class="max-width"><div class="uk-padding-large uk-padding-remove-left uk-padding-remove-right orange-text-bg"><div class="row"><div class="col col--3-of-4"><p class="pre-line">MEMBERS AREA</p><h2 class="uk-margin-medium-bottom">{{ entry.secondHeading }}</h2><!--a(href="http://").uk-text-lead.white-btn.uk-margin-medium-left Company directory (57)--><a href="{{ siteUrl }}members" class="uk-text-lead white-btn">Individual directory ({{ craft.users.group('members').total }})</a><a href="{{ siteUrl }}companies" class="uk-text-lead white-btn second-btn">Company directory ({{ craft.entries.section('companies').total }})</a></div><div class="col col--1-of-4 vb text-right"><a href="{{ siteUrl }}user" class="white-btn">LOGIN / REGISTER</a></div></div></div></div></section><section class="grey-bg uk-padding-large">{% include '_includes/_ajax-comments.html' %}<div class="max-width"><div class="uk-padding-large uk-padding-remove-left uk-padding-remove-right">{% set grabBg = 'grey' %}
{% include '_includes/_multi-block-swiper-popular.html' %}</div></div></section><section class="uk-padding-large"><div class="max-width"><div class="uk-padding-large uk-padding-remove-left uk-padding-remove-right grey-text-bg"><div class="row"><div class="col col--3-of-4 vb"><p class="pre-line dark">WHO WE ARE  |  WHAT WE DO</p><h2>{{ entry.thirdHeading }}</h2><div class="row"><div class="col col--2-of-2 col2">{{ entry.thirdParagraph  }}</div></div></div><div class="col col--1-of-4 text-right vb"><div><a href="{{ siteUrl }}events" class="orange-btn">EVENTS</a></div><div><a href="{{ siteUrl }}education" class="orange-btn">EDUCATION</a></div></div></div></div></div></section></div>{% endblock %}

craft/templates/index.jade
{% extends '_layout' %}
{% block content %}
{% set grabBg = '' %}
.main-container
  .home-project-slider.uk-light
    a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.home-project-slider-prev
    a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.home-project-slider-next
    .swiper-container
      .swiper-wrapper
        {% for project in craft.entries.section('projects').order('RAND()').limit(4) %}
        a(href="{{ project.url }}").block.swiper-slide.uk-position-relative
          .swiper-lazy(
          data-background="{{ craft.imager.transformImage(project.headingImage[0], {format: 'jpg', width: 1000}) }}"
          style="background-image: url('{{ craft.imager.transformImage(project.headingImage[0], {format: 'jpg', width: 15, blur: 5}) }}')"
          ) 
          .uk-position-bottom.uk-position.medium.uk-light.z-index-1.uk-text-center.uk-padding
            .max-width
              .row
                .col.col--1-of-4.uk-text-left
                  p.pre-line.smaller TITLE
                  p.uk-margin-remove {{ project.title }}
                .col.col--1-of-4.uk-text-left
                  p.pre-line.smaller COMPANY
                  p.uk-margin-remove {{ project.company }}
                .col.col--1-of-4.uk-text-left
                  p.pre-line.smaller LOCATION
                  p.uk-margin-remove {{ project.location }}
                .col.col--1-of-4.uk-text-left
                  p.pre-line.smaller Architect
                  p.uk-margin-remove {{ project.author.fullName | ucwords }}
                //.col.col--1-of-4.vb
                  a(href="{{ project.url }}") VIEW PROJECT
        {% endfor %}
  section.uk-padding-large
    .max-width
      .uk-padding-large.uk-padding-remove-top.uk-padding-remove-left.uk-padding-remove-right
        .row
          .col.col--3-of-4
            h1 {{ entry.firstHeading }}
        .uk-margin-top.uk-margin-bottom.uk-clearfix.mbs-wrap
          span.uk-text-lead.uk-link-reset.orange-link Recently submitted work / 
          script.
            window.recentWork = {
              {% for cat in craft.categories.group('propertyCategory') %}
              {{ cat.id }} : false,
              {% endfor %}
            };
          {% for cat in craft.categories.group('propertyCategory') %}
          a(href="#/" @click="recentWork[{{ cat.id }}] = !recentWork[{{ cat.id }}]" v-bind:class="{ 'selected' : recentWork[{{ cat.id }}] }").uk-link-reset.orange-link {{ cat.title }} ({{ craft.entries.section('projects').relatedTo(cat).total() }}), 
          {% endfor %}
          a(href="#/" @click="{% for cat in craft.categories.group('propertyCategory') %}recentWork[{{ cat.id }}] = false; {% endfor %}" v-bind:class="{ 'selected' : {% for cat in craft.categories.group('propertyCategory') %}!recentWork[{{ cat.id }}] {{ not loop.last ? '&&' : '' }}{% endfor %} }").uk-link-reset.orange-link.uk-float-right All ({{ craft.entries.section('projects').total() }})
        {% set projects = craft.entries.section('projects').order('dateUpdated desc') %}
        .multi-block-swiper
          .swiper-container.uk-light
            a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.slide-prev
            a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.slide-next

            .swiper-wrapper
              {% if projects is not defined %}
              {% set projects = craft.entries.section('projects').order('dateUpdated desc') %}
              {% endif %}
              {% for project in projects %}
              transition(name="fade" mode="out-in")
                .swiper-slide.white-text(v-if="({% for cat in project.propertyCategories %}recentWork[{{ cat.id }}] {{ not loop.last ? '||' : '' }}{% endfor %}) || ({% for cat in craft.categories.group('propertyCategory') %}!recentWork[{{ cat.id }}] {{ not loop.last ? '&&' : '' }}{% endfor %})")
                  a(href="{{ project.url }}").square-image-btn.uk-background-cover
                    .swiper-lazy(
                      data-background="{% for asset in project.headingImage.limit(1) %}{{ craft.imager.transformImage(asset, {width: 300, height: 300, format: 'jpg'}) }}{% endfor %}"
                      style="{% for asset in project.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, {width: 12, blur: 30, format: 'jpg'}) }}'){% endfor %}"
                    )
                    .inner
                      .uk-padding
                        p.pre-line.uk-margin-remove Project name
                        p.uk-margin-remove-top {{ project.title }}
                        p.pre-line.uk-margin-remove Architect
                        p.uk-margin-remove-top {{ project.author.fullName }}
                        p.pre-line.uk-margin-remove Company
                        p.uk-margin-remove-top {{ project.company }}
                        p.pre-line.uk-margin-remove Location
                        p.uk-margin-remove-top {{ project.location }}
              {% endfor %}
            .swiper-scrollbar(class="grabbg-{{ grabBg }}")
  section.uk-padding-large.orange-grad2.white-text
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right.orange-text-bg
        .row
          .col.col--3-of-4
            p.pre-line MEMBERS AREA
            h2.uk-margin-medium-bottom {{ entry.secondHeading }}
            //a(href="http://").uk-text-lead.white-btn.uk-margin-medium-left Company directory (57)
            a(href="{{ siteUrl }}members").uk-text-lead.white-btn Individual directory ({{ craft.users.group('members').total }})
            a(href="{{ siteUrl }}companies").uk-text-lead.white-btn.second-btn Company directory ({{ craft.entries.section('companies').total }})
          .col.col--1-of-4.vb.text-right
            a(href="{{ siteUrl }}user").white-btn LOGIN / REGISTER

  section.grey-bg.uk-padding-large
    {% include '_includes/_ajax-comments.html' %}
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right
        {% set grabBg = 'grey' %}
        {% include '_includes/_multi-block-swiper-popular.html' %}
  section.uk-padding-large
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right.grey-text-bg
        .row
          .col.col--3-of-4.vb
            p.pre-line.dark WHO WE ARE  |  WHAT WE DO
            h2 {{ entry.thirdHeading }}
            .row
              .col.col--2-of-2.col2
                {{ entry.thirdParagraph  }}
          .col.col--1-of-4.text-right.vb
            div
              a(href="{{ siteUrl }}events").orange-btn EVENTS
            div
              a(href="{{ siteUrl }}education").orange-btn EDUCATION
{% endblock %}
